/lec21/mongoDB/node_modules
/lec21/mongoDB/data
/lec21/mongoDB/.env
/lec22/Cookies/node_modules
/lec22/Sessions/node_modules
/lec22/Sessions/.env
/lec23/node_modules
/lec23/data
/lec23/.env
/lec24/node_modules
/lec25/react-1/node_modules