.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.search-results-container {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  max-height: 400px;
  overflow-y: scroll;
}

.search-result {
  padding: 5px;
  margin: 0;
}

.search-result:hover {
  font-weight: bold;
  background-color: aqua;
}